.item_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    height: 5.938rem;

    background-color: #fff;
    border-radius: 0.5rem;
    padding-left: 1.313rem;
    padding-right: 1.25rem;

    .item_left {
        display: flex;
        align-items: center;
        gap: 1.313rem;

        img {
            height: 3.813rem;
            width: 3.125rem;
            object-fit: contain;
        }

        p {
            width: 7.063rem;
            font-weight: 400;
            font-size: 0.813rem;
        }
    }

    .item_button_wrapper{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        justify-content: center;

        .item_qtd {
            position: absolute;
            top: -0.6rem;
            color: #000000;
            font-size: 0.313rem;
        }
        
        .item_button_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
    
            border-radius: 0.25rem;
            border: 1px solid #BFBFBF;
            width: 3.125rem;
            height: 1.188rem;
            font-size: 0.5rem;
    
            button {
                border: none;
                background-color: transparent;
            }
    
            .item_center {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000000;
                font-weight: bold;
            }
    
            .button_left {
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10px;
                    border-right: 1px solid #BFBFBF;
                }
            }
    
            .button_right {
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10px;
                    border-left: 1px solid #BFBFBF;
                }
            }
            
        }
    }

    .item_right {
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: end;

        font-size: $size-sm;
        font-weight: bold;
        width: 6.25rem;
    }

    .delete_button {
        position: absolute;
        top: -5px;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        border-radius: 100%;
        border: none;

        width: 1.125rem;
        height: 1.125rem;

        span {
            font-weight: 400;
            font-size: $size-sm;
            color: #ffffff;
        }
    }
}